In [1]:
import pandas as pd
import numpy as np

In [3]:
#tworzenie serii
dataseries = pd.Series([10,10,2,5,75,6], name='wartosc M',index=['a','b','c','d','k','t'])
dataseries

In [4]:
data_dict = {
    'imię':['Jan','Arleta','Marian','Ludwik','Maria'],
    'wiek':[34,26,44,56,30],
    'miasto':['Kraków','Trouń','Gdańsk','Lublin','Kraków']
}

In [6]:
dataframe = pd.DataFrame(data_dict,index=['A','B','C','D','E'])
dataframe

,imię,wiek,miasto
A,Jan,34,Kraków
B,Arleta,26,Trouń
C,Marian,44,Gdańsk
D,Ludwik,56,Lublin
E,Maria,30,Kraków

In [7]:
!cat dane/ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [9]:
df = pd.read_csv('dane/ex1.csv')
df

,a,b,c,d,message
0,1,2,3,4,hello
1,5,6,7,8,world
2,9,10,11,12,foo

In [10]:
df.to_numpy()

In [11]:
!cat dane/ex2.csv

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [12]:
names = ['A','B','C','D','informacja']
df2 = pd.read_csv('dane/ex2.csv',names=names, index_col='informacja')
df2

,A,B,C,D
informacja,,,,
hello,1,2,3,4
world,5,6,7,8
foo,9,10,11,12

In [13]:
!cat dane/ex4.csv

# Cześć!
a,b,c,d,message
# Chciałem tylko trochę utrudnić Twoją pracę.
# Kto w ogóle wczytuje pliki CSV za pomocą komputera?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [16]:
data_frame = pd.read_csv('dane/ex4.csv',skiprows=[0,2,3])
data_frame

,a,b,c,d,message
0,1,2,3,4,hello
1,5,6,7,8,world
2,9,10,11,12,foo

In [17]:
danew = pd.read_csv('dane/ex5.csv',index_col=['message'])
danew

,something,a,b,c,d
message,,,,,
NaN,one,1,2,3.0,4
world,two,5,6,NaN,8
foo,three,9,10,11.0,12

In [18]:
danew['f'] = [124,256,257]
danew

,something,a,b,c,d,f
message,,,,,,
NaN,one,1,2,3.0,4,124
world,two,5,6,NaN,8,256
foo,three,9,10,11.0,12,257

In [19]:
danew.to_csv('dane/superex5.csv')

In [20]:
danew.to_html('dane/superh5.html')

In [21]:
mydct = danew.to_dict('dane/mojdict')

<ipython-input-21-2788e7a5c9a1>:1: FutureWarning: Using short name for 'orient' is deprecated. Only the options: ('dict', list, 'series', 'split', 'records', 'index') will be used in a future version. Use one of the above to silence this warning.
  mydct = danew.to_dict('dane/mojdict')

In [22]:
mydct

{'something': {nan: 'one', 'world': 'two', 'foo': 'three'},
 'a': {nan: 1, 'world': 5, 'foo': 9},
 'b': {nan: 2, 'world': 6, 'foo': 10},
 'c': {nan: 3.0, 'world': nan, 'foo': 11.0},
 'd': {nan: 4, 'world': 8, 'foo': 12},
 'f': {nan: 124, 'world': 256, 'foo': 257}}